html {
  background-color: pink;
  font-family: Copperplate !important;
}
th:hover {
    color: white;
}

body {
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
  width: 100%;
}

.number {
  text-align: left;
  width: 100%;
}

.weight {
  text-align: right;
  width: 100%;
}

b {
    width: 100%;
}

#table {
    overflow-x: auto;
}

table, tr {
  width: 100%;
}

.tabTop {
  border-bottom: solid 1px white;
}

.blue {
  background-color: #6FD8FC;
}

.red {
  background-color: #F34C65;
}

.orange {
  background-color: #F4B656;
}

.yellow {
  background-color: #F7F196;
}

.green {
  background-color: #9CE589;
}

.lightGreen {
  background-color: #A2E99E;
}

.purple {
  background-color: #C489E5;
}

.haze {
  background-color: #75B471;
}

b {
  font-size: 20px;
}

#image {
  align-items: center;
  align-self: center;
  text-align: center;
  margin: auto;
}
